.nekaKlasa .report{
  max-width: 30%;
  margin: 0;
  background-color: rgb(235, 211, 211);
}
.nekaKlasa #blog-list .blog-list-element {
  max-width: 100%;
}

.commentsDisplay{
    padding-bottom: 10px;
    overflow-y: scroll;
    max-height: 190px;
  }
  .commentsDisplay::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
  .dataBody{
      word-wrap: break-word;
  }

  .like, .dislike{
    cursor: pointer;
    text-align: center;
  }
 
  .like-number{
    display: inline-block;
    margin: 0;

  } 
  .likeContainer{
    grid-column: 5/8;
    grid-row: 1;
    align-items: center;
  }
  .likeContainer p{
   display: inline;
  }
  
  .dislike-number{
    display: inline-block;
    margin: 0;
  }
  .dislikeContainer{
    grid-column: 8/13;
    grid-row: 1;
    margin-left: 5%;
  }

  .reactionContainer{
    background-color: #f7f4f4;
    border-bottom: 1px solid #e0e0e0;
    padding: 5px;
  }

  .report{
    display: none;
  }

  .report.show{
    display: block;
  }
  @media only screen and (max-width: 1125px){
    
      .dislikeContainer{
        margin-left: 27px;
        grid-column: 8/13;
      }
      .likeContainer{
        margin-left: 20px;
        grid-column: 4/7;
      }
      #blog-list .titleOfPost{
        margin-top: 30px;
      }
  }

  @media only screen and (max-width: 960px){
    .nekaKlasa .report{
      max-width: 40%;
    }
  }
  @media only screen and (max-width: 800px) {
    .dislikeContainer{
      margin-left: 15px;
      grid-column: 9/13;
    }
    .likeContainer{
      
      grid-column: 3/7;
    }
    .nekaKlasa .report{
      max-width: 50%;
    }
    li {
        margin: 0;
    }
  }


  
  @media only screen and (max-width: 700px) {
    #blog-list .titleOfPost{
      margin-top: 30px;
    }
    #blog-list .blogPicture{
      max-width: 60%;
    }
    .nekaKlasa{
      max-width: 60%;
    }
    li {
        margin: 0;
    }
  }


  @media only screen and (max-width: 570px){
    .nekaKlasa{
      max-width: 80%;
    }
  }

  @media only screen and (max-width: 370px){
    .nekaKlasa{
      max-width: 95%;
    }
    .nekaKlasa .report{
      max-width: 60%;
    }
    .dislikeContainer{
      margin-left: 10px;
      
    }
  }