*{
    box-sizing: border-box;
    font-family: "Quicksand";
}
body{
    margin: 0 auto;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* gap: 10px; */
    box-sizing: border-box;
  }

  nav a{
    grid-column: 3/5;
    grid-row: 1;
    padding-bottom: 10px;
    display: inline-block;
    color: black;
}
nav a:hover{
  color: black;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(245, 244, 244);
}
nav ul{
    display: flex;
    grid-column: 6/11;
    justify-content: flex-end;
    align-self: center;
}
/* kasnije mozda na neki bolji nacin */
nav ul li{
  display: none;
}

li{
    list-style-type: none;
    margin: 0px 15px;
    padding: 10px;
}

/* /////// */
.blog-list-element img{
  margin-bottom: 15px;
}

#blog-list span{
    margin-bottom: 25px;
  }
#blog-list .blog-list-element{
    position: relative;
    max-width: 40%;
    margin: 0px auto;
    margin-top: 16px;
    border-bottom: 1px solid #e0e0e0;
    background-color: rgb(245, 244, 244);
}

.blog-list-element{
  text-align: center;
}

/* comment div */
.comment{
  border-radius: 15px;
  border-color:#e0e0e0 ;
  background-color: #f7f4f4;
  padding: 5px;
  width: 80%;
  outline: none;
}

.commentSection{
  position: relative;
    max-width: 40%;
    margin: 0px auto;
    border-bottom: 1px solid #e0e0e0;
    background-color: rgb(245, 244, 244);
    display: none;
}
.commentSection.details{
  max-width: 100%;
}

.commentSection.showComment{
  display: block;
}
.commentsDisplay{
  padding-bottom: 10px;
}

.commentsDisplay li{
  text-align: left;
}
.commentForm{
  padding: 5px;
  text-align: center;
}
.commentPost{
  position: absolute;
  bottom: 0;
  right: 2%;
  color: #bbb9b9;
  cursor: pointer;
}


#blog-list .blogPicture{
    width: 30%;
    height: 150px;
}
#blog-list .blog-list-element:hover{
    box-shadow: 5px 5px 50px rgba(0,0,0,0.2);
}
#blog-list{
  margin-top: 0px;
  padding: 0;
}
li span{
    display: block;
}
li .delete{
    position: absolute;
    top: 0;
    right: 0px;
    background: #f7f4f4;
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}

li p{
  position: absolute;
  bottom: 0;
  color: #bbb9b9;
}
/*  */
#nav-links{
  margin: 0;
}
#nav-links li:hover{
    background: rgb(223, 223, 223);
}
a{
    text-decoration: none;
}
a:hover{
    color: green;
}


/* modals */
.wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }

  .wrapper-login {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }

  .wrapper-register{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  
  .popUp {
    background: white;
    width: 30%;
    height: fit-content;
    border-radius: 5%;
    overflow-y: auto;
    margin: 10% auto;
    text-align: center;
    position: relative;
  }
  .content {
    padding: 20px;
  }
 /*  */
 
/* register module styles */
.registerForm input,#registerBtn{
  margin: 15px auto;
    display: block;
    width: 60%;
    padding: 5px;
    font-size: 1.1em;
}

/*  */
 /* login module styles */
 
.loginForm input,#loginBtn{
  margin: 15px auto;
    display: block;
    width: 60%;
    padding: 5px;
    font-size: 1.1em;
}
 /*  */

 /* new blog module styles */
  .addNewBlogForm textarea{
      padding: 10px;
  }
  .blog-details-container .report, .deleteReportedPost, .okPost{
    width: 60%;
    font-size: 1.1em;
    padding: 5px;
  }
  .addNewBlogForm input, #selectImage, #addNewBlogBtn ,textarea{
    margin: 15px auto;
    font-size: 1.1em;
    padding: 5px;
    width: 60%;
      display: block;
  }
/*  */
  .tooltip{
    display: none;
      position: absolute;
      background-color: rgb(225, 225, 225);
      padding: 5px;
        left: 0;
      bottom: -5%;
      z-index: 1;
  }

  .timeCreated{
    display: block;
}

.createdAt:hover{
    cursor: pointer;
}



.author{
  position: absolute;
  left: 60px;
  top: 0px;
  color: black;
  height: fit-content;
}

.author.mojProfil{
  left: 5px;
  top: 0px;
}



/* my profile stranica */


.profilna{
  position: absolute;
  left: 1%;
  top: 2%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.individualComment{
  grid-column: 2/13;
  grid-row: 1;
}
.commentElement{
  border-bottom: 2px solid #e0e0e0;
}

.commentElement r{
  grid-column: 1/13;
  grid-row: 1;
  padding-left: 5px;
  align-self: top;
 }

.commentElement z{
 
  padding-top: 25px;
  padding-left: 5px;
  grid-column: 1/13;
  grid-row: 1;
  align-self: center;
  word-wrap: break-word;
}


.pictureOnComment{
  grid-column: 1/2;
  grid-row: 1;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}


.prikaziBlogChildren{

  text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
  max-width: 100%;
}

.noMorePostsMessage{
  display: none;
text-align: center;
font-weight: bold;
}

.searchForm{
  align-self: center;
  grid-column: 11/13;
  grid-row: 1;
}

.searchForm input {
 outline: none;
 border-radius: 10px;

 border-color: rgb(245, 244, 244);
 background-color: #f7f4f4;
 border: 1px solid #e0e0e0;
  padding: 6px;
}


.reportedPosts{
  display: block;
}
.deleteReportedPost{
  
  background-color: lightcoral;
}
.okPost{
  background-color: lightgreen;
}

.deleteReportedPost, .okPost{
  display: inline;
  width: 35%;
  margin: 0px;
}



.blog-details-container{
  max-width: 50%;
  margin: 0px auto;
  padding-bottom: 16px;
}



.showElement{
  display: block;
}
.hideElement{
  display: none;
}
.trazenjeBloga{
  max-width: 150px;
}

#blogPhoto{
  padding: 0;
}
.loadingMessage{
  display: none;
}

/* hamburger */
.toggle-button {
  grid-column: 10/13;
  align-self: center;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 40px;
}

.toggle-button .bar {
  margin-top: 4px;
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
  transition: all .5s ease-in-out;
}

/* responzivnost */
@media only screen and (max-width: 2600px) and (min-width: 1700px){
  .prikaziBlogChildren, .noMorePostsMessage, .commentPost, .createdAt,  .individualComment,  .tooltip, .comment, #nav-links, .trazenjeBloga{
    font-size: 1.3em;
  }
  #blog-list .blogPicture{
    width: 40%;
    height: 200px;
  }
 
  #blog-list span{
    margin-bottom: 40px;
  }
  #blog-list .blog-list-element{
    max-width: 30%;
  }
}
@media only screen and (max-width: 1325px){
 
    #blog-list .blog-list-element, .commentSection{
      max-width: 60%;
    }
}

@media only screen and (max-width: 1125px){
  #blog-list .blogPicture{
      width: 40%;
    }
   
}

@media only screen and (max-width: 943px){
 
  .NewBlog,.myProfile {
    margin: 0;
  }
.Logout {
  align-self: center;
}
.trazenjeBloga{
  transform: translate(-15px, 0px);
}

.wrapper, .wrapper-register, .wrapper-login{
  z-index: 1;
}

.popUp{
  margin: 20% auto;
  width: 55%;
}
.addNewBlogForm input, #selectImage, #addNewBlogBtn, textarea, .registerForm input, #registerBtn, .loginForm input, #loginBtn{
  width: 65%;
}

.loginForm h2 {
  margin-top: 0;
}
}

@media only screen and (max-width: 800px){
  
  .prikaziBlogChildren, .noMorePostsMessage, .commentPost, .createdAt,  .individualComment,  .tooltip, .comment, #nav-links, .trazenjeBloga{
    font-size: 1.1em;
  }
  .commentPost{
    margin: 0;
  }
  .createdAt{
    margin: 0;
  }
  
  .searchForm{
    grid-column: 10/12;
  }
  .trazenjeBloga{
    transform: translate(0px, 0px);
  }
  nav ul{
    grid-column: 5/10; 
}
nav a{
  grid-column: 2/5;
}
/* moduli */
.addNewBlogForm input, #selectImage, #addNewBlogBtn, textarea, .registerForm input, #registerBtn, .loginForm input, #loginBtn{
  width: 80%;
}

.commentPost{
  position: relative;
  padding: 5px;
  right: 0;
  font-size: 1.2em;
}

li p{
  position: relative;
}
#blog-list span{
  margin: 0;
}
.createdAt{
  padding: 5px;
   font-size: 1.2em;
 }
 #blog-list .blogPicture{
  width: 60%;
}
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}



@media only screen and (max-width: 700px){
 
  #blog-list .blogPicture{
    width: 80%;
  }
  .commentsDisplay{
    padding: 0;
  }
  /* hamburger */
  .toggle-button{
    display: flex;
  }
  /* burger u x */
  .toggle-button.open .bar:nth-of-type(1){
    transform: rotate(45deg) translate(0px, 16px);
   }
   .toggle-button.open .bar:nth-of-type(3){
    transform: rotate(-45deg) translate(0px, -16px);
   }

  .toggle-button.open .bar:nth-of-type(2){
    transform: translateX(-50px);
    background: transparent;
  }

  #nav-links{
    grid-row: 2; 
    grid-column: 4/9;
    flex-direction: column;
    text-align: center;
    display: none;
  }
  
  #nav-links.active{
    display: flex;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;
  }
  

  .searchForm{
    grid-column: 4/10;
    grid-row: 3; 
    text-align: center;
    padding-bottom: 10px;
    display: none;
  }
  .searchForm.active{
    display: block;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;
  }
  nav a {
    grid-column: 2/7;
}
  .Logout{
    margin: 0;
  }
}

@media only screen and (max-width: 570px){
  #blog-list .blog-list-element{
    max-width: 80%;
  }
  .commentSection{
    max-width: 80%;
  }
  #blog-list .blogPicture{
    max-width: 70%;
    height: 180px;
  }

  .popUp{
   
    width: 70%;
  }
}

@media only screen and (max-width: 370px){
  #blog-list .blog-list-element{
    max-width: 96%;
  }
  .commentSection{
    max-width: 96%;
  }
  
  nav a {
    grid-column: 2/9;
}
li{
  padding-left: 0;
  margin: 0;
}
.popUp{
 
  width: 95%;
}
}

